{% extends "main.html" %}

{% block maincontent %}

<h1>Reset password</h1>
<style>
div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
      }
</style>

<form action="/username" method="post">
  <!--  <label>Select password</label>
	<div>
	<label>Old</label>
	<input type="text" name="old_password" />
	</div>
		<!--<input type="submit" value="switch">-->
	<!--<input type="password" name="old_password"/>-->
	<!--
	<input type="password" name="password" />
	<input type="password" name="confirm_password" />
	<input type="hidden" name="t" value="{{ token }}" />
    <input type="submit" value="Update password" />
	-->
	<div>
        <label for="old_username">Current Username</label>
        <input type="text" id="old_username" name="old_username" placeholder="Enter current username" />
      </div>
      <div>
        <label for="new_username">New Username</label>
        <input type="text" id="new_username" name="new_username" placeholder="Enter new password" />
      </div>
      <input type="hidden" name="t" value="{{ token }}" />
      <input type="submit" value="Update username" />
</form>



{% endblock %}
