{% extends "main.html" %}

{% block maincontent %}

<h1 style="color:Beige;">Reset password</h1>
<style>
div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
      }
</style>

{% if failed %}

    <strong style="color:Red;">Password Cannot Be Reset!</strong> Check Your Old Password And Try Again!

{% endif %}

<form action="/password" method="post">
  <!--  <label>Select password</label>
	<div>
	<label>Old</label>
	<input type="text" name="old_password" />
	</div>
		<!--<input type="submit" value="switch">-->
	<!--<input type="password" name="old_password"/>-->
	<!--
	<input type="password" name="password" />
	<input type="password" name="confirm_password" />
	<input type="hidden" name="t" value="{{ token }}" />
    <input type="submit" value="Update password" />
	-->
	<div>
        <label style="color:Snow;" for="old_password">Old Password</label>
        <input type="password" id="old_password" name="old_password" placeholder="Enter old password" />
      </div>
      <div>
        <label style="color:Snow;" for="password">New Password</label>
        <input type="password" id="password" name="password" placeholder="Enter new password" />
      </div>
      <div>
        <label style="color:Snow;" for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password" />
      </div>
      <input type="hidden" name="t" value="{{ token }}" />
      <input type="submit" value="Update password" />
</form>

{% if failed %}

    <strong style="color:Red">Redirect back to homepage and Login again!</strong><p style="color:Red">Change your password later: <a style="color:White" href="/">Click Here!</a></p>
	

{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}
